@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #FAFF00;
  --secondary: #00FF94;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-lg, .btn-sm {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
  border: 1px solid black;
  padding: 2%;
  border-radius: 10vw;
  text-transform: uppercase;
  font-weight: 600;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5vh;
  font-family: "Open Sans", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7vh;
  width: 80%;
  padding-bottom: 10vh;
}

header {
  width: 90%;
  padding: 2% 0;
}

nav {
  display: flex;
  -moz-column-gap: 0vh;
       column-gap: 0vh;
  justify-content: space-between;
  padding-bottom: 5vh;
}
nav section {
  display: flex;
  -moz-column-gap: 3vw;
       column-gap: 3vw;
}
nav aside {
  display: flex;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
}
nav aside .btn-sm {
  width: 7vw;
  font-size: 14px;
}
nav figure {
  width: 12vw;
}
nav img {
  width: 100%;
}
nav ul,
nav li {
  display: flex;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3vh;
}
.title h1 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 10px;
}
.title form {
  border-bottom: 1px solid black;
  display: flex;
  width: 60%;
  height: 40px;
  position: relative;
}
.title form input {
  border: 0 none;
  padding: 2% 5%;
  background-color: transparent;
}
.title form input:first-child {
  width: 90%;
}
.title form input:last-child {
  width: 10%;
  text-indent: -9999px;
}
.title form:before {
  content: "\f002";
  font-family: "FontAwesome";
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: black;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 5vw;
       column-gap: 5vw;
  position: relative;
}
.filter ul {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 5vw;
       column-gap: 5vw;
}
.filter li {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0vh;
       column-gap: 0vh;
}
.filter a {
  text-align: center;
}
.filter details summary {
  list-style-type: none;
}
.filter details ul {
  position: absolute;
  background-color: var(--primary);
  width: 90%;
  left: 0;
  top: calc(100% + 20px);
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
}
.filter .filter-list-mobile {
  display: none;
}
.filter .filter-mylist {
  width: 5vw;
}

.book-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5vw;
}
.book-list img {
  width: 15vw;
}
.book-list a:hover {
  filter: drop-shadow(10px 10px 0px #FAFF00);
}

.pagination ul {
  display: flex;
  -moz-column-gap: 3vw;
       column-gap: 3vw;
}
.pagination li {
  display: flex;
  -moz-column-gap: 0vh;
       column-gap: 0vh;
}

footer {
  width: 90%;
  padding: 2% 5%;
  display: flex;
  -moz-column-gap: 0vh;
       column-gap: 0vh;
  justify-content: space-between;
  background-color: black;
  color: white;
}
footer aside {
  display: flex;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
}

.book-detail {
  width: 90%;
  display: flex;
  -moz-column-gap: 5vw;
       column-gap: 5vw;
}

.detail-left {
  width: 30%;
}
.detail-left figure {
  display: flex;
  flex-direction: column;
  row-gap: 4vh;
}
.detail-left figcaption {
  display: flex;
  flex-direction: column;
  row-gap: 4vh;
}
.detail-left .detail-info {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
}
.detail-left .detail-info li {
  display: flex;
  -moz-column-gap: 0vh;
       column-gap: 0vh;
}
.detail-left .detail-info span {
  color: grey;
  width: 35%;
}
.detail-left .detail-outlink {
  font-size: 24px;
  display: flex;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
}
.detail-left .detail-genre {
  display: flex;
  -moz-column-gap: 0.5vw;
       column-gap: 0.5vw;
  flex-wrap: wrap;
  row-gap: 0.5vw;
}
.detail-left .detail-genre li {
  display: flex;
  -moz-column-gap: 0vh;
       column-gap: 0vh;
  border: 1px solid black;
  border-radius: 10vw;
  padding: 2% 4%;
  font-size: 14px;
}

.detail-right {
  width: 70%;
  display: flex;
  flex-direction: column;
  row-gap: 6vh;
}
.detail-right aside {
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
}
.detail-right h1 {
  font-size: 32px;
  text-transform: uppercase;
}
.detail-right h3 {
  font-size: 30px;
  font-weight: 400;
}
.detail-right .detail-description {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  padding-top: 5vh;
}
.detail-right .detail-description .btn-lg {
  width: 30%;
}
.detail-right .detail-description .btn-lg:first-child:hover {
  background-color: var(--primary);
}
.detail-right .detail-description .btn-lg:last-child:hover {
  background-color: var(--secondary);
}

.comment {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
}
.comment form {
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  align-items: flex-end;
}
.comment input {
  border: 1px solid black;
  padding: 2%;
  background-color: var(--secondary);
  width: 20%;
}
.comment textarea {
  width: 96%;
  height: 120px;
  padding: 2%;
  resize: none;
}
.comment ul {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}
.comment li {
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  border-top: 1px solid black;
  padding-top: 2%;
}
.comment li aside {
  flex-direction: row;
  justify-content: space-between;
  color: grey;
}

.default-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4vh;
  width: 40%;
  padding-bottom: 10vh;
}
.default-form input {
  border: 0 none;
  border-bottom: 1px solid black;
  padding: 3%;
  width: 100%;
}
.default-form input[type=file] {
  display: none;
}
.default-form .btn-file {
  background-color: var(--secondary);
}
.default-form input[type=submit] {
  border: 1px solid black;
  background-color: transparent;
  width: 70%;
  border-radius: 10vw;
  box-shadow: 0px 4px 0px var(--primary);
  text-transform: uppercase;
  font-weight: 600;
}

.about figure {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}
.about img {
  width: 100%;
}
.about figcaption {
  display: flex;
  -moz-column-gap: 4vw;
       column-gap: 4vw;
}
.about figcaption p {
  width: 60%;
}
.about figcaption ul {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}
.about figcaption li {
  display: flex;
  -moz-column-gap: 0vh;
       column-gap: 0vh;
}
.about figcaption li span {
  color: grey;
  width: 5vw;
}/*# sourceMappingURL=style.css.map */