@mixin FlexRow($colGap: 0vh) {
   display: flex;
   column-gap: $colGap;
}

@mixin FlexColumn($rowGap: 0vh) {
   display: flex;
   flex-direction: column;
   row-gap: $rowGap;
}

@mixin FlexRowCenter($colGap: 0vh) {
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: $colGap;
}

@mixin FlexRowColumn($rowGap: 0vh) {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: $rowGap;
}